<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JAVA社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--1.使用Bootstrap编写导航栏样式
    BootStrap是一个移动设备优先的UI框架，可以在不编写任何css、js代码就可以实现
    比较漂亮有交互性的页面。平常用到其表单、表单项、模态框、布局、栅格系统等。
    -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<!--接收到community.js传递的key和value 登录成功后 用key查询value如果相同则
  close登录页面且使用removeItem方法删除密钥-->
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == 1) {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>

<body>

<!--  th:replace替换当前标签为模板中的标签： 加载的节点会整个替换掉加载它时使用的<div>
      th:insert 会保留加载它时使用的<div>
      页眉-->
<div th:replace="~{navigation :: nav}"></div>
<!--使用Bootstrap编写响应式布局发布问题-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <!--进行循环遍历取值-->
            <div class="media" th:each="question:${pagination.data}">
                <div class="media">
                    <div class="media-left">
                        <a th:href="@{'/question/' + ${question.id}}">
                            <img class="media-object img-rounded"
                                 th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                        </h4>
                        <span th:text="${question.description}"></span><br>
                        <span class="text-desc">
                            <span th:text="${question.commentCount}"></span>个回复·
                            <span th:text="${question.viewCount}"></span>个浏览·
                            <!--时间展示-->
                            <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                        </span>
                    </div>
                </div>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a href="/?page=1,search = ${search}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1},search = ${search})} " aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!--循环页数，当前页面使用active进行选中高亮-->
                    <li th:each="page : ${pagination.pages}"
                        th:class="${pagination.page == page}?'active' : '' ">
                        <a th:href="@{/(page=${page},search = ${search})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page + 1},search = ${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage},search = ${search})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12col-xs-12 ">
                <h4>技术论坛</h4>
                <img class="img-thumbnail question-img" src="/images/images.png">
                <img class="img-thumbnail question-img" src="/images/images.png">
            </div>
        </div>
    </div>
</div>
<!--页尾-->
<div th:replace="~{footer :: foot}"></div>
</body>
</html>
</body>
</html>